/* Reusables ---------------------------------------------------------------- */

$bg-color: #ffe9e7;
$fg-color: #514a49;

$mobile-fontsize: 12px;
$tablet-fontsize: 16px;
$spacing-ratio: 0.1;
$mobile-spacing: $mobile-fontsize * $spacing-ratio;
$tablet-spacing: $tablet-fontsize * $spacing-ratio;

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.grow {
  transition: all .05s ease-in-out;
}
.grow:hover {
  transform: scale(1.05);
}
.grow:active {
  transform: scale(1.1);
}


/* Document ----------------------------------------------------------------- */

html, body {
  font-family: 'Bellefair', serif;
  font-size: $mobile-fontsize;
  letter-spacing: $mobile-spacing;
  @media (min-width: 768px) {
    font-size: $tablet-fontsize;
    letter-spacing: $tablet-spacing;
  }
  background-color: $bg-color;
  transition: background-color 1s ease;
  height: 100%;
  min-height: 600px;
  @media (min-width: 768px) {
    min-height: 600px;
  }
}


/* Quote content ------------------------------------------------------------ */

#content {
  width: 50%;
}
#quote-icon {
  font-size: 2rem;
  color: $fg-color;
}

#content, #quote, #author {
  color: $fg-color;
  text-align: center;
}

#quote {
  margin: 2rem 0 1rem 0;
  font-size: 2.3rem;
}

#new-quote-button {
  margin: 1rem 0;
  background-color: $fg-color;
  color: $bg-color;
  font-family: 'Bellefair', serif;
  border-radius: 0;
  letter-spacing: 0.1rem;
}

#new-quote-button:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

hr {
    display: block;
    height: 1px;
    width: 33%;
    border: 0;
    border-top: 1px solid $fg-color;
    padding: 0;
    margin: 2em 0;
}

#twitter-bird {
  font-size: 2rem;
  color: $fg-color;
}
